/* Desktop Styles */

body {
  /* Set the background color and font of the page */
  background-image: url("https://i.postimg.cc/htCVnNrk/temp-Imagek1tb-FV.avif");
  background-size: cover;
  font-family: "Roboto Slab", serif;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

header {
  /* Set the header background image */
  background-image: url("https://i.postimg.cc/Rh3cpdfk/temp-Image-CTq5-Ag.avif");
  /* Stretch the image to cover the entire header */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  box-shadow: 0 0 40px white;
  height: 70vh; /* Header will keep it's ratio */
  width: 100%;
  padding-top: 60px;
  position: relative;
}

h1 {
  /* Set the style of a h1 header */
  background-image: url("https://i.postimg.cc/3NVmpGy3/temp-Image-Vg-N44h.avif");
  background-size: cover;
  box-shadow: 0 0 20px black;
  letter-spacing: 12px;
  padding: 10px;
  font-size: 230%;
  border-radius: 5px;
}
h1:hover {
  /* Set the style of a h1 header upon hovering */
  font-weight: bold;
  box-shadow: 0 0 55px white;
}
h2 {
  /* Set the style of  headers */
  letter-spacing: 3px;
  background-color: rgba(250, 250, 250, 0.3);
  box-shadow: 0 0 20px black;
  padding: 15px;
  color: rgb(48, 48, 85);
  font-size: larger;
  border-radius: 5px;
}

h2:hover {
  box-shadow: 0 0 45px white;
  background-color: rgba(223, 226, 173, 0.9);
}

#experience li:hover,
#connect li:hover,
#skills li:hover, 
#toggleGrayMode:hover {
  box-shadow: 0 0 45px white;
}

h3 {
  /* Set the style of a h3 header */
  border-radius: 5px;
  font-family: "Charmonman", cursive;
  font-weight: bold;
  font-size: 300%;
}

h4 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 3px;
  color: rgba(48, 48, 85, 0.9);
  font-size:x-large;
}

nav {
  /* Set the style of a navigation menu */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.postimg.cc/3NVmpGy3/temp-Image-Vg-N44h.avif");
  background-size: cover;
  text-align: center;
  letter-spacing: 3px;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 0 15px black;
  z-index: 1000;
}

nav a {
  color: white; /* Added color for nav links */
  font-size: large; /* Large font size*/
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  padding: 20px; /* Add padding */
}

nav a:hover {
  /* Set the style of a navigation menu upon hovering */
  background-color: rgba(250, 250, 250, 0.3);
  color: black;
  border-radius: 15px;
  letter-spacing: 10px;
  font-size: 150%;
  padding: 10px;
  box-shadow: 0 0 25px white;
}

#about {
  margin-top: 100px;
}

.about-content {
display: grid;
grid-template-columns: 4fr 1fr;
align-items: center;
height: auto;
}

.about-text {
  padding-right: 40px;
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

#experience ul {
  list-style: none;
  padding: 0;
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  font-size: large;
  text-align: center;
}

#experience li {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px white;
  border: 5px solid rgba(48, 48, 85, 0.7);
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

#experience li::before {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 9em;
  height: 3em;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-table;
  border-radius: 30px;
  box-shadow: 0 0 15px white;
}
#experience li[data-icon="ctd"]::before {
  background-image: url("https://i.postimg.cc/s22FfV4w/temp-Image-TPv-QGE.avif");
}
#experience li[data-icon="sdl"]::before {
  background-image: url("https://i.postimg.cc/htsWqJTX/temp-Image-RTSI8-C.avif");
}
#experience li[data-icon="kodeploy"]::before {
  background-image: url("https://i.postimg.cc/HkdDK0cG/temp-Image-MMo-Kpo.avif");
}
#experience li[data-icon="ccusa"]::before {
  background-image: url("https://i.postimg.cc/JhYfG9Tm/temp-Imagewq1v-Q5.avif");
}
#experience li[data-icon="technomol"]::before {
  background-image: url("https://i.postimg.cc/V6S3MDTt/temp-Imageqy-RGXE.avif");
}
#experience li[data-icon="msn"]::before {
  background-image: url("https://i.postimg.cc/TwZBcnM4/temp-Imagefe-LM2-O.avif");
}


#skills ul {
  list-style: none;
  padding: 0;
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  font-size: larger;
  text-align: center;
}

#skills li {
  margin: 10px 0;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 20px white;
  border: 5px solid rgba(48, 48, 85, 0.5);
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

#projects ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px white;
  border: 5px solid rgba(48, 48, 85, 0.7);
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  font-size: small;
}

#projects li {
  overflow-wrap:anywhere;
 align-items: center; 
 margin: 10px;
padding-left: 10px;
padding-right: 10px;
 padding-bottom: 25px;
 border-radius: 15px;
}

#projects li:hover {
  background: rgba(42, 40, 40, 0.6);
}

#projects li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;

  text-decoration: none; 
}

#connect ul {
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}
#connect li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 25px black;
  border: 5px solid rgba(48, 48, 85, 0.5);
  position: relative;
  background: rgba(250, 250, 250, 0.6);
  letter-spacing: 3px;


}
#connect li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}
#connect li::before {
  content: "";
  background-size:contain;
  background-repeat: no-repeat;
}

input[type="text"],
input[type="email"],
textarea {
  margin: 8px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 25px black;
  border: 5px solid rgba(250, 250, 250, 0.3);
  height: 100%;
  width: 50%;  
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  box-shadow: 0 0 45px white;
  background-color: rgba(223, 226, 173, 0.3);
}

button[type="submit"] {
  margin: 10px;
  width: 25%;
  border-radius: 25px;
  box-shadow: 0 0 25px black;
  border: 5px solid rgba(250, 250, 250, 0.3);
}

button[type="submit"]:hover,
button[type="button"]:hover {
  box-shadow: 0 0 45px white;
  background-color: rgba(223, 226, 173, 0.3);
}

button[type="button"] {
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 25px black;
  border: 5px solid rgba(250, 250, 250, 0.3);
}

#message-form-section > form {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  
}

#toggleGrayMode {
  background: transparent;
  background-color: rgba(250, 250, 250, 0.5);
  position: absolute;
  right: 0;
  top: 8%;
  height: 80px;
  width: 80px;
  z-index: 1000;
  margin: 15px;
  padding: 5px;
  border-radius: 400px;
  box-shadow: 0 0 25px black;
  border: 5px solid rgba(250, 250, 250, 0.3);
}


/* css gray mode */
.gray-mode {
  background-image: none;
  filter: grayscale(100%);
  color: black;
  #connect li a {
    color: black; 
  }
  #toggleGrayMode {
    box-shadow: 0 0 15px black;
  }
}

/* Tablet Styles */

@media (min-width: 600px) and (max-width: 1200px) {

  h1 {
    background: none;
    font-weight: normal;
    font-size: 200%;
    box-shadow: none;
  }

  h1:hover {
    box-shadow: none;
    font-weight: normal;
  }

  #experience ul {
    grid-template-columns: 1fr 1fr;
  }

  #skills ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    font-size: medium;
  }

  #connect li {
    border:none;
    background: rgba(250, 250, 250, 0.0);
    box-shadow: none;
  }
}

/* Mobile Styles */

@media (max-width: 599px) {
  
  header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    box-shadow: 0 0 40px white;
    height: 40vh; /* Header will keep it's ratio */
    width: 100%;
    padding-top: 100px;
  }

  #experience li:hover,
  #connect li:hover,
  #skills li:hover {
    box-shadow:none;
  }

  #toggleGrayMode {
    right: 0;
    margin: 15px;
    padding: 5px;
    box-shadow: 0 0 25px black;
    border: 5px solid rgba(250, 250, 250, 0.3);
  }

  nav {
    flex-direction: column;
    /*background-image: none;*/
    background-color: transparent;
    width: 50%;
    border-radius: 40px;
    margin-top: 20px;
  }

  nav a {
    padding: 10px;
    font-size: x-small;
    width: (40%);
  }

  nav a:hover {
    background-color: transparent;
    color: white;
    letter-spacing: normal;
    font-size: 100%;
    padding: 0%;
    box-shadow: none;
  }

  h1 {
    width:96%;
    justify-content: center;
    align-items: center;
    background-image: none;
    margin-top: 100px;
    background-size: cover;
    box-shadow: 0 0 20px black;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 130%;
    border-radius: 0px;
  }
  h1:hover {
    font-weight: normal;
    box-shadow: 0 0 55px white;
  }

  h3 {
    font-family: "Charmonman", cursive;
    font-weight: normal;
    font-size: 110%;
  }
  .about-content {
    display: inline;
    align-items: center;
    }  

  .about-text {
      padding-right: 0px;
    }  
  .about-photo {
    height: 250px;
  }  

  #experience ul {
    margin: 0px 0px;
    grid-template-columns: 1fr;
    gap: 5px;
    font-size:small;
    justify-content: space-evenly;
  }

  #projects ul {
    display: grid;
    grid-template-columns: 1fr;
    font-size: medium;
  }

  #skills ul {
    grid-template-columns: 1fr;
    gap: 5px;
    font-size: small;
    justify-content: space-evenly;
  }

  #skills li {
    padding: 3px;
    margin: 3px;
  }

  #connect li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    border:none;
    background: rgba(250, 250, 250, 0.0);
    box-shadow: none;
  }
  #connect li a {
    font-size: 0;
    line-height: 0;
    padding: 0px;
  }

#connect li img {
  width: 100%;
  height: auto;
}

  #connect li::before {
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
  }
 
  h4 {
    font-size: x-small;
    margin: 0;
  }

  button[type="submit"] {
    margin: 5px;
    width: 30%;
    border-radius: 25px;
    box-shadow: 0 0 25px black;
    border: 5px solid rgba(250, 250, 250, 0.3);
  }

  button[type="button"] {
    margin: 10px;
    width: 25%;
    border-radius: 25px;
    box-shadow: 0 0 25px black;
    border: 5px solid rgba(250, 250, 250, 0.3);
    font-size: xx-small;
  }
}
